<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>관리자 페이지</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
</head>
<body>
<!--    번호 아이디 암호 이메일       -->
<!--    1   admin 1111 abc@test.com-->
<!--    2   tom   2222 tom@test.com-->
<!--    3   hana  3333 hana@test.com-->

<div
        class="container-fluid p-4"
        style="background-color: #eee"
>
    <div class="row">
        <div
                class="container-fluid"
                style="
            background-color: white;
            max-width: 1200px;
            border-radius: 20px;
          "
        >
            <h1 class="my-5 text-center">관리자페이지 - 회원목록</h1>

            <table class="table table-striped">
                <tr>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>암호</th>
                    <th>이메일</th>
                    <th>가입일</th>
                    <th class="text-center">수정</th>
                    <th class="text-center">삭제</th>
                </tr>
                <tr th:each="member, status : ${memberList}" align="center">
                    <td><span th:text="${status.count}"></span></td>
                    <td><span th:text="${member.username}"></span></td></td>
                    <td><span th:text="${member.password}"></span></td></td>
                    <td><span th:text="${member.email}"></span></td></td>
                    <td><span th:text="${member.joindate}"></span></td></td>
                    <td class="text-center">
                        <a
                                th:href="@{/update-form(index=${status.count})}"
                                class="btn btn-danger"
                                role="button"
                                onclick="return onEdit(this)"
                        >수정</a
                        >
                    </td>
                    <td class="text-center">
                        <a
                                th:href="@{/deleteProduct(index=${status.count})}"
                                class="btn btn-danger"
                                role="button"
                                onclick="return confirmAndDelete(this)"
                        >삭제</a
                        >
                    </td>
                </tr>
            </table>

            <div class="text-center my-5">
                <a
                        href="/join"
                        class="btn btn-primary"
                        role="button"
                >회원가입</a
                >
                <a
                        href="/"
                        class="btn btn-danger"
                        role="button"
                >로그인</a
                >
            </div>
        </div>
    </div>
</div>
<script>
    // 회원목록 상세 출력
    // localhost:8080/update-form?index=1
    const onEdit = (button) => {
        window.location.href = button.getAttribute("href");
    }

    // 회원 목록 삭제
    // localhost:8080/deleteProduct?index=1
    const confirmAndDelete = (link) => {
        const confirmation = confirm("정말로 삭제하시겠습니까?");
        if (confirmation) {
            window.location.href = link.getAttribute("href");
        }
        return false;
    }
</script>
</body>
</html>
