<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 내용</title>
    <style>
        * {
            margin: 0 auto;
            padding: 0 auto;
            overflow: hidden;
        }
        td, h2 {
            text-align: center;
        }
        table, td {
            width: 500px;
            border: 1px solid black;
        }
        a {
            text-decoration-line: none;
        }
    </style>
</head>
<body>
<h2>글 내용</h2>
<form action="updateAction" method="post">
    <input type="hidden" name="boardIdx" th:value="${ dto.boardIdx }">
    <input type="hidden" name="boardHit" th:value="${ dto.boardHit }">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>번호</td>
            <td th:text="${ dto.boardIdx }">글 인덱스</td>
        </tr>
        <tr>
            <td>조회수</td>
            <td th:text="${ dto.boardHit }">조회수</td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="boardName" th:value="${ dto.boardName }" size="50"></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="boardTitle" th:value="${ dto.boardTitle }" size="50"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea rows="10" cols="48" name="boardContent" th:text="${ dto.boardContent }"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">글수정</button>&nbsp;&nbsp;
                <a href="listForm">
                    <input type="button" value="목록보기">
                </a>&nbsp;&nbsp;
                <a th:href="@{/board/deleteAction(boardIdx=${dto.boardIdx})}">
                    <input type="button" value="삭제하기"></a>
                </a>
            </td>
        </tr>
    </table>
</form>

<br>

<!-- 댓글 달기 -->
<form action="/reply/writeReplyAction" method="post">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="2">
                <input type="hidden" name="replyBoardIdx"
                       th:value="${ dto.boardIdx }">
                <label>댓글</label>
                <textarea name="replyContent" cols="50" rows="2"></textarea> <br>
                <label>별명</label>
                <input type="text" name="replyName" value="" /> <br>
                <input type="submit" value="댓글달기" />
            </td>
        </tr>
    </table>
</form>

<!-- 댓글 목록 -->
<div>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>별명</th>
            <th>내용</th>
            <th>날짜</th>
            <th>삭제</th>
        </tr>
        <!-- 댓글 반복문 -->
        <tr th:each="reply : ${replyList}">
            <td th:text="${reply.replyName}">별명</td>
            <td th:text="${reply.replyContent}">내용</td>
            <td th:text="${reply.replyDate}">날짜</td>
            <td>
                <form th:action="@{/reply/deleteReplyAction(boardIdx=${dto.boardIdx}, replyIdx=${reply.replyIdx})}" method="get">
                    <input type="hidden" name="boardIdx" th:value="${dto.boardIdx}" />
                    <input type="hidden" name="replyIdx" th:value="${reply.replyIdx}" />
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>