<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>
    <h3>메인화면</h3>

    <p th:if="${ session.isLogin == true }"
       th:text="|로그인 상태입니다.<br>회원아이디:${session.userId}|">
        로그인 상태입니다.</p>

    <p th:if="${ session.isLogin == null }"
       th:text="|로그아웃 상태입니다.|">
        로그아웃 상태입니다.</p>

    <button type="button"
            onclick="location.href='/loginForm'">로그인</button>
    <button type="button"
            onclick="location.href='/logoutAction'">로그아웃</button>

    </body>
</html>