<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h2>회원목록</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">번호</th>
    <th scope="col">ID</th>
    <th scope="col">아이디</th>
    <th scope="col">비밀번호</th>
    <th scope="col">이름</th>
    <th scope="col">권한</th>
    <th scope="col">가입일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member, status: ${list}">
    <td><span th:text="${status.count}"></span></td>
    <td><span th:text="${member.id}"></span></td>
    <td><span th:text="${member.userId}"></span></td>
    <td><span th:text="${member.userPw}"></span></td>
    <td><span th:text="${member.userName}"></span></td>
    <td><span th:text="${member.userRole}"></span></td>
    <td><span th:text="${member.joindate}"></span></td>
  </tr>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>