<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>회원목록</h2>
    <table border="1">
        <tr th:each="member, status: ${list}">
            <td><span th:text="${status.count}"></span></td>
            <td><span th:text="|ID : ${member.id}|"></span></td>
            <td><span th:text="|아이디 : ${member.user_id}|"></span></td>
            <td><span th:text="|비밀번호 : ${member.user_pw}|"></span></td>
            <td><span th:text="|이름 : ${member.user_name}|"></span></td>
            <td><span th:text="|권한 : ${member.user_role}|"></span></td>
            <td><span th:text="|가입일 : ${member.joindate}|"></span></td>
        </tr>
    </table>
</body>
</html>