<!DOCTYPE html>
<!-- xmlns : xml name space XML의 태그와 속성을 정의하는 곳 -->
<!-- th : 타임리프 관련 태그나 속성은 th로 시작함. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index1.html</title>
</head>
<body>
<h2>타임리프에 오신 것을 환영합니다.</h2>

th:text : innerText로 출력 <br>
<p th:text="${ name_text }">innerText</p>

th:utext : innerHTML로 출력 <br>
<p th:utext="${ name_html }">innerHTML</p>

문자열 연결 <br>
<p th:text="'Wecome, ' + ${ name_text }">연결된 문자열</p>

문자열 보간(치환) <br>
<p th:text="|Wecome, ${ name_text }|">치환된 문자열</p>

Input태그 value에 값 넣기 <br>
<input type="text" th:value="${ server_value }" value=""> <br>

Form 태그에서 GET 방식으로 서버에 데이터 전달하기
<form action="index-param" method="get">
    <input typeof="text" name="id" value="" placeholder="아이디" required>
    <input typeof="password" name="pw" value="" placeholder="암호" required>
    <button type="submit">전송</button>
</form>

<button>submit 버튼으로 동작</button>
<button type="submit">전송</button>
<button type="button" onclick="alert('클릭됨');">전송</button>
<br>

Form 태그에서 POST 방식으로 서버에 데이터 전달하기
<form action="index-param" method="post">
    <input typeof="text" name="id" value="" placeholder="아이디" required>
    <input typeof="password" name="pw" value="" placeholder="암호" required>
    <button type="submit">전송</button>
</form>

<p th:text="|id: ${ id }|"></p>
<p th:text="|pw: ${ pw }|"></p>

</body>
</html>