<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="center">자판기 상품 수정</h2>

    <form action="/edit" method="post">
        <div class="form-group">
            <label for="name">상품명:</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${product.name}" readonly>
        </div>
        <div class="form-group">
            <label for="price">가격:</label>
            <input type="number" class="form-control" id="price" name="price" th:value="${product.price}">
        </div>
        <div class="form-group">
            <label for="limit_date">유통기한:</label>
            <input type="text" class="form-control" id="limit_date" name="limit_date" th:value="${product.limit_date}">
        </div>
        <button type="submit" class="btn btn-dark btn-block">상품 수정 완료!</button>
    </form>

    <a href="/" class="btn btn-secondary btn-block mt-3">돌아가기</a>
</div>
</body>
</html>
